<%- include('partials/header') %>
<div>
    <h1>Home</h1>
    <p>
        <%= firstPara %>
    </p>
</div>


    <% posts.forEach((post) => {%>
        <div class="post">
            <h1><%= post.title %></h1>
            <p><%= post.content %></p>
        </div>
    <% }); %>

<%- include('partials/footer') %>